<!-- index page is not really used, since it is always the signup, login, or secret page.
Can delete, but will leave for now. -->

<h2>Sign up for an account</h2>

<ul>
  {{#each messages}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<form action="/signup" method="POST">
  Username: <input type="text" name="username" required>
  <br>
  Password: <input type="password" name="password" required>
  <br>
  <input type="submit" name="signup" value="Sign up">
</form>

<P>If you already have an account, you can <a href="/login">sign in here</a>.</P>

<h2>Log in with Twitter</h2>

<p>Or you can <a href="/auth/twitter">use your Twitter account to sign in</a></p>
